@import '_setting.scss';
$card-border-radius: 4px;

li.card-item {
	background-color: #fff;
	padding: $gap;
	border-radius: $card-border-radius;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	img.card-cover {
		display: block;
		max-width: calc(100% + 2 *#{$gap});
		margin-left: -$gap;
		margin-top: -$gap;
		border-top-left-radius: $card-border-radius;
		border-top-right-radius: $card-border-radius;
	}
}
