@import '_setting.scss';

$list-bg-color: #ebf0ee;
.board-content {
	display: flex;
	overflow-x: auto;
	margin: 0 $gap $gap $gap;
	&::-webkit-scrollbar {
		-webkit-appearance: none;
		border-radius: $scollbar-border-radius;
		background-color: rgba(0, 0, 0, 0.1);
	}
	&::-webkit-scrollbar:horizontal {
		height: 11px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: $column-border-radius;
	}

	.board-content-container {
		.column-drop-preview {
			background-color: rgba(150, 150, 200, 0.1);
			border: 1px dashed #abc;
			margin: 5px 45px 5px 5px;
		}
	}

	.add-new-column {
		max-width: 250px;
		min-width: 250px;
		line-height: 36px;
		padding: 4px 0 4px 15px;
		background-color: hsla(0, 0, 100%, 0.24);
		border-radius: $column-border-radius;
		margin-left: $gap;
		cursor: pointer;
		&:hover {
			background-color: hsla(0, 0, 100%, 0.34);
		}
	}

	.enter-new-column {
		max-width: 250px;
		min-width: 250px;
		background-color: $column-background-color;
		line-height: 36px;
		padding: 4px 10px;
		margin-left: $gap;
		border-radius: $column-border-radius;

		input.enter-new-column-input {
			margin: 5px 0;
		}

		span.cancel-new-column {
			display: inline-block;
			float: right;
			font-size: 18px;
			color: $alert-color;
			max-width: 100%;
			text-align: center;
			cursor: pointer;
			&:hover {
				color: darken($color: $alert-color, $amount: 10);
			}
		}
	}
}
