

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$gap: 10px;
$board-bg-color: #0079bf; 
$scollbar-border-radius: 10px;
$column-border-radius: 5px;

// Screen
$screen-lg: 1021px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';