@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$scollbar-border-radius: 10px;

$card-border-radius: 4px;

$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #ebecf0;
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}

body {
	line-height: 1.3rem;
}

.App {
	height: 100vh;
	display: grid;
	grid-template-rows: 40px 50px 1fr;
	background-color: $board-bg-color;

	.navbar {
		padding-left: 10px;
		display: flex;
		align-items: center;

		&.app {
			background-color: $appbar-bg-color;
			font-size: 1.5rem;
		}

		&.board {
			background-color: $board-bg-color;
			font-size: 1.1rem;
		}
	}

	.board-columns {
		display: flex;
		overflow-x: auto;
		margin: 0 $gap $gap $gap;
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			border-radius: $scollbar-border-radius;
			background-color: rgba(0, 0, 0, 0.1);
		}
		&::-webkit-scrollbar:horizontal {
			height: 11px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: $column-border-radius;
		}

		.column {
			flex: 0 0 auto;
			width: 300px;
			height: calc(100% - #{$gap});
			&:not(:first-child) {
				margin-left: $gap;
			}

			background-color: #ebecf0;
			border-radius: $scollbar-border-radius;
			> * {
				color: #333;
				padding: 0 8px;
			}

			header {
				padding-left: 15px;
				height: $column-header-height;
				line-height: $column-header-height;
				font-size: 18px;
				font-weight: bold;
				border-top-left-radius: $column-border-radius;
				border-top-right-radius: $column-border-radius;
			}

			footer {
				padding-left: 10px;
				height: $column-footer-height;
				line-height: $column-footer-height;
				font-size: 16px;
				border-bottom-left-radius: $column-border-radius;
				border-bottom-right-radius: $column-border-radius;
			}

			ul {
				padding-right: 4px;
				list-style-type: none;
				margin-left: 4px;
				margin-right: 4px;
				max-height: calc(
					100% - #{$column-header-height} - #{$column-footer-height} - #{$gap}
				);
				overflow-y: auto;

				&::-webkit-scrollbar {
					-webkit-appearance: none;
					border-radius: $scollbar-border-radius;
					background-color: #ddd;
				}
				&::-webkit-scrollbar:vertical {
					width: 6px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: #ccc;
					border-radius: $scollbar-border-radius;
				}

				li {
					background-color: #fff;
					padding: $gap;
					border-radius: $card-border-radius;
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
					&:not(:last-child) {
						margin-bottom: 10px;
					}
					img {
						display: block;
						max-width: calc(100% + 2 *#{$gap});
						margin-left: -$gap;
						margin-top: -$gap;
						border-top-left-radius: $card-border-radius;
						border-top-right-radius: $card-border-radius;
					}
				}
			}
		}
	}
}
